# removing all the virtual environments from the repo
**/venv/

# removing all the research papers from the repo
**/Papers/

# removing all the datasets from the repo
**/data/

# removing all the models from the repo
**/models/

# removing all the python cache files from the repo
**/__pycache__/

# removing runs from the repo
**/runs/
